{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Dead by Daylight Randomizer</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {% load bootstrap5 %}
    {% bootstrap_css %}

    <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
body {
  padding: 25px;
  background-color: #5CDB95;
  color: #EDF5E1;
  font-size: 25px;
}
</style>
  </head>

  <body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-sm" style="background-color:#5CDB95">
      <div class="container-fluid">
        <img src="{% static 'images/logo.png' %}" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" style="color:#2257bf" href="{% url 'index' %}">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:#2257bf" href="{% url 'killers' %}">Killers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" style="color:#2257bf" href="{% url 'perks' %}">Perks</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- add block content from html template -->
    {% block content %}

    {% endblock %}
  </body>
</html>
