<!-- inherit from base.html -->
{% extends "project_app/base_template.html" %}


{% block content %}

<h1> User: {{appuser.name}} </h1>
<a href="{% url 'update_killers' appuser.id %}" class="btn btn-primary" role="button">Update User</a>

<h3>List of Killers Chosen:</h3>
<ul class="list-group">
    {% for i in appuser.killer.all %}
        <li class="list-group-item">
        <p><strong>{{ i.title }}</strong>
        </li>
    {% endfor %}
</ul>
<br>
<h3>List of Perks Chosen:</h3>
<ul class="list-group">
    {% for i in appuser.perk.all %}
        <li class="list-group-item">
        <p><strong>{{ i.title }}</strong>
        </li>
    {% endfor %}
</ul>
<br>
{% endblock %}