<!-- inherit from base.html -->
{% extends "project_app/base_template.html" %}


{% block content %}
<h3>List of Killers Chosen</h3>
<ul class="list-group">
    {% for i in user_active_killers %}
        <li class="list-group-item">Name: {{i.name}}
        <p><strong>Killers:{{ i.killer.title }}
        <a class="btn btn-primary" href="{{ i.killer.get_absolute_url }}" role="button">View</a>
        </li>
    {% endfor %}
</ul>
<br>
<h3>List of Perks Chosen</h3>
<ul class="list-group">
    {% for i in user_active_perks %}
    <li class="list-group-item">Name: {{i.name}}
    <p><strong>Perks:{{ i.perk.title }}
    <a class="btn btn-primary" href="{{ i.perk.get_absolute_url }}" role="button">View</a>
    </li>
    {% endfor %}
    </ul>
<br>
{% endblock %}